USE [puntoventasis]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CATEGORIAID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](20) NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[CIUDADID] [varchar](3) NOT NULL,
	[IDPAIS] [varchar](3) NULL,
	[DESCRIPCION] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CIUDADID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[NRODOCUMENTO] [varchar](15) NOT NULL,
	[APE_PATERNO] [varchar](50) NULL,
	[APE_MATERNO] [varchar](50) NULL,
	[NOMBRES] [varchar](100) NULL,
	[SEXO] [char](1) NULL,
	[EMAIL] [varchar](50) NULL,
	[TELEFONO] [varchar](20) NULL,
	[FECHACREACION] [datetime] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NRODOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTROLCAJA]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROLCAJA](
	[CONTROLID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_APERTURA] [datetime] NULL,
	[IDUSUARIO_APER] [varchar](15) NULL,
	[MONT_APE] [decimal](10, 2) NOT NULL,
	[TOTAL] [decimal](10, 2) NULL,
	[FECHA_CIERRE] [datetime] NULL,
	[IDUSUARIO_CIERRE] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTROLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVENTA]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVENTA](
	[VENTAID] [int] NULL,
	[IDPRODUCTO] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
	[IDMEDIDA] [varchar](3) NOT NULL,
	[CANTIDAD] [decimal](10, 2) NOT NULL,
	[PRECIO] [decimal](10, 2) NOT NULL,
	[P_IMPUESTO] [decimal](10, 2) NULL,
	[IMPUESTO] [decimal](10, 2) NOT NULL,
	[VALOR_VENTA] [decimal](10, 2) NOT NULL,
	[IMPORTE] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[ESTADOID] [varchar](2) NOT NULL,
	[DESCRIPCION] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ESTADOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAPAGO]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAPAGO](
	[FORMAPAGOID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[FORMAPAGOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDENCOMPRA]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENCOMPRA](
	[ORDENCOMPRAID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[RUCPROV] [varchar](20) NULL,
	[NROREQUERIMIENTO] [varchar](20) NULL,
	[FORMAPAGOID] [int] NULL,
	[NOTA] [varchar](max) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[ESTADO] [varchar](2) NULL,
	[USUARIO] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDENCOMPRAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[IDPAIS] [varchar](3) NOT NULL,
	[DESCRIPCION] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[PRODUCTOID] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](250) NULL,
	[CATEGORIAID] [int] NULL,
	[IDMEDIDA] [varchar](3) NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[ES_ORGANICO] [int] NULL,
	[FECHAVENCIMIENTO] [datetime] NULL,
	[FECHACREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[RUC] [varchar](20) NOT NULL,
	[RAZON_SOCIAL] [varchar](250) NULL,
	[TELEFONO] [varchar](20) NULL,
	[DIRECCION] [varchar](max) NULL,
	[CIUDAD] [varchar](3) NULL,
	[PAIS] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[RUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUERIMIENTO]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUERIMIENTO](
	[NROREQUERIMIENTO] [varchar](20) NOT NULL,
	[PRODUCTOID] [varchar](20) NULL,
	[CANTIDAD] [decimal](10, 2) NULL,
	[PRECIOUNITARIO] [decimal](18, 2) NULL,
	[SUBTOTAL] [decimal](18, 2) NULL,
	[ORDENCOMPRA_REF] [int] NULL,
	[ESTADO] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NROREQUERIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIMEDIDA]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIMEDIDA](
	[IDMEDIDA] [varchar](3) NOT NULL,
	[DESCRIPCION] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMEDIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [varchar](15) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[ESTADO] [int] NULL,
	[USR_NOMBRES] [varchar](250) NULL,
	[USR_INCIALES] [varchar](5) NULL,
	[FECHACREACION] [datetime] NULL,
	[ES_ADMIN] [int] NULL,
	[SERIE_BOL] [varchar](4) NULL,
	[SERIE_FAC] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 24/04/2024 14:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[VENTAID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[DOCCLIENTE] [varchar](15) NULL,
	[NOMBRECLIENTE] [varchar](20) NOT NULL,
	[TIPODOCVENTA] [char](3) NOT NULL,
	[SERIE] [varchar](10) NOT NULL,
	[NUMERO] [varchar](20) NOT NULL,
	[VALOR_VENTA] [decimal](10, 2) NOT NULL,
	[IMPUESTO] [decimal](10, 2) NOT NULL,
	[IMPORTE] [decimal](10, 2) NOT NULL,
	[FORMAPAGO] [int] NULL,
	[USUARIO] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[VENTAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CIUDAD] ([CIUDADID], [IDPAIS], [DESCRIPCION]) VALUES (N'LIM', N'PER', N'LIMA')
INSERT [dbo].[CIUDAD] ([CIUDADID], [IDPAIS], [DESCRIPCION]) VALUES (N'MDL', N'COL', N'MEDELLIN')
INSERT [dbo].[CIUDAD] ([CIUDADID], [IDPAIS], [DESCRIPCION]) VALUES (N'TRU', N'PER', N'TRUJILLO')
GO
INSERT [dbo].[ESTADOS] ([ESTADOID], [DESCRIPCION]) VALUES (N'AP', N'ATENCIDO PARCIAL')
INSERT [dbo].[ESTADOS] ([ESTADOID], [DESCRIPCION]) VALUES (N'AT', N'ATENDIDO TOTAL')
INSERT [dbo].[ESTADOS] ([ESTADOID], [DESCRIPCION]) VALUES (N'PE', N'PENDIENTE')
GO
SET IDENTITY_INSERT [dbo].[FORMAPAGO] ON 

INSERT [dbo].[FORMAPAGO] ([FORMAPAGOID], [DESCRIPCION]) VALUES (5, N'EFECTIVO')
INSERT [dbo].[FORMAPAGO] ([FORMAPAGOID], [DESCRIPCION]) VALUES (6, N'YAPE')
INSERT [dbo].[FORMAPAGO] ([FORMAPAGOID], [DESCRIPCION]) VALUES (7, N'CULQUI')
SET IDENTITY_INSERT [dbo].[FORMAPAGO] OFF
GO
INSERT [dbo].[PAIS] ([IDPAIS], [DESCRIPCION]) VALUES (N'COL', N'COLOMBIA')
INSERT [dbo].[PAIS] ([IDPAIS], [DESCRIPCION]) VALUES (N'PER', N'PERU')
GO
INSERT [dbo].[UNIMEDIDA] ([IDMEDIDA], [DESCRIPCION]) VALUES (N'KG', N'KILOGRAMOS')
INSERT [dbo].[UNIMEDIDA] ([IDMEDIDA], [DESCRIPCION]) VALUES (N'LT', N'LITROS')
INSERT [dbo].[UNIMEDIDA] ([IDMEDIDA], [DESCRIPCION]) VALUES (N'UNI', N'UNIDAD')
GO
INSERT [dbo].[USUARIO] ([IDUSUARIO], [PASSWORD], [ESTADO], [USR_NOMBRES], [USR_INCIALES], [FECHACREACION], [ES_ADMIN], [SERIE_BOL], [SERIE_FAC]) VALUES (N'ADMINISTRADOR', N'ADMIN123', 1, N'ADMNISTRADOR DEL SISTEMA', N'ADM', NULL, 1, NULL, NULL)
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [FECHACREACION]
GO
ALTER TABLE [dbo].[CONTROLCAJA] ADD  DEFAULT (getdate()) FOR [FECHA_APERTURA]
GO
ALTER TABLE [dbo].[DVENTA] ADD  DEFAULT ((18)) FOR [P_IMPUESTO]
GO
ALTER TABLE [dbo].[ORDENCOMPRA] ADD  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  DEFAULT (getdate()) FOR [FECHACREACION]
GO
ALTER TABLE [dbo].[REQUERIMIENTO] ADD  DEFAULT (NULL) FOR [ORDENCOMPRA_REF]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [FECHACREACION]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (NULL) FOR [SERIE_BOL]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (NULL) FOR [SERIE_FAC]
GO
ALTER TABLE [dbo].[VENTA] ADD  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD FOREIGN KEY([IDPAIS])
REFERENCES [dbo].[PAIS] ([IDPAIS])
GO
ALTER TABLE [dbo].[CONTROLCAJA]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO_APER])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[CONTROLCAJA]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO_CIERRE])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[DVENTA]  WITH CHECK ADD FOREIGN KEY([IDMEDIDA])
REFERENCES [dbo].[UNIMEDIDA] ([IDMEDIDA])
GO
ALTER TABLE [dbo].[DVENTA]  WITH CHECK ADD FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([PRODUCTOID])
GO
ALTER TABLE [dbo].[DVENTA]  WITH CHECK ADD FOREIGN KEY([VENTAID])
REFERENCES [dbo].[VENTA] ([VENTAID])
GO
ALTER TABLE [dbo].[ORDENCOMPRA]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADOS] ([ESTADOID])
GO
ALTER TABLE [dbo].[ORDENCOMPRA]  WITH CHECK ADD FOREIGN KEY([FORMAPAGOID])
REFERENCES [dbo].[FORMAPAGO] ([FORMAPAGOID])
GO
ALTER TABLE [dbo].[ORDENCOMPRA]  WITH CHECK ADD FOREIGN KEY([NROREQUERIMIENTO])
REFERENCES [dbo].[REQUERIMIENTO] ([NROREQUERIMIENTO])
GO
ALTER TABLE [dbo].[ORDENCOMPRA]  WITH CHECK ADD FOREIGN KEY([RUCPROV])
REFERENCES [dbo].[PROVEEDOR] ([RUC])
GO
ALTER TABLE [dbo].[ORDENCOMPRA]  WITH CHECK ADD FOREIGN KEY([USUARIO])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([CATEGORIAID])
REFERENCES [dbo].[CATEGORIA] ([CATEGORIAID])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([IDMEDIDA])
REFERENCES [dbo].[UNIMEDIDA] ([IDMEDIDA])
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([CIUDAD])
REFERENCES [dbo].[CIUDAD] ([CIUDADID])
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([PAIS])
REFERENCES [dbo].[PAIS] ([IDPAIS])
GO
ALTER TABLE [dbo].[REQUERIMIENTO]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADOS] ([ESTADOID])
GO
ALTER TABLE [dbo].[REQUERIMIENTO]  WITH CHECK ADD FOREIGN KEY([PRODUCTOID])
REFERENCES [dbo].[PRODUCTO] ([PRODUCTOID])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([DOCCLIENTE])
REFERENCES [dbo].[CLIENTE] ([NRODOCUMENTO])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([FORMAPAGO])
REFERENCES [dbo].[FORMAPAGO] ([FORMAPAGOID])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([USUARIO])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
